body{
	 background-color: #999;
}
.table{
	display: 0;
}
.draw{
	display: none;
}
.img{
	display: none;
}
.img2{
	display: none;
}
.center{
	display: none;
}
.button{
	width: 60px;
	height: 60px;
	background-color: black;
	color: #999;
} 
.button:disabled{
	background-color: white;
}
.reset{
	width: 200px;
	height: 25px;
}
.start {
	text-decoration: none;
	color: #199;
	background-image: linear-gradient(90deg, #788, #664);
	display: inline-block;
	padding: 20px 40px;
	border: 1px solid;
	position: relative;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	margin: auto;
	margin-top: 90px;
	font-size: xx-large;
	display: 0;
}
.start:before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #748, #279);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}
.start:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}
.start:hover {
	color: #fff;
	transition: .3s;
}
.start:hover:after {
	background: linear-gradient(90deg, #849, #197);
}
.start:active:after {
	background: linear-gradient(90deg, #738, #086);
}
.start:focus-visible {
	box-shadow: 0 0 0 3px #fd7f34;
}
.start:disabled {
	pointer-events: none;
}
.start:disabled:before {
	filter: grayscale(100%);
}
